/* Colores */
/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* Investigar para que funciona este bloque, lo he visto en varios ejemplos */
/* 
    With box-sizing: border-box -> the width you set will applied
    at the border-level and not at the inner-content level
*/

* {
    
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2C303F;
}



p, li, input, button {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #5b5e6d;
    margin: 10px 0;    
}

nav {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
}

nav img {
    height: 45px;
}

nav ul {
    list-style: none;
}

/* Burger menu icon */
nav ul div {
    width: 30px;
    height: 4px;
    background-color: #5b5e6d;;
    margin: 4px 0;
}

header {
    justify-content: center;
    padding: 2% 8%;
    text-align: center;
}

header h1 {
    text-align: left;
    padding: 20px 0 20px 0;
}

header .text-intro {
    text-align: left;
}

header input {
    padding: 15px 15px;
    width: 100%;
    text-align: left;
    border: solid 1px #babcc4;
    border-radius: 5px;    
}

header button {
    padding: 15px;
    width: 100%;
    background: #192592;
    border: solid 1px #192592;   
    color: white;
    border-radius: 5px;
}

header a {
    color: #192592;
}

header img {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.logos {
    justify-content: center;
    padding: 2% 8%;
    text-align: center;    
    background-color: #F4F3F4;
}

.logos h2 {
    padding: 40px 0 20px 0;    
}

.logos button {
    padding: 15px;
    width: 100%;
    background: white;
    border: solid 1px #192592;   
    color: #192592;
    border-radius: 5px;
}

.logos img {    
    width: 60%;
    padding: 30px;
}

.try {    
    justify-content: center;
    padding: 2% 8%;
    text-align: center;     
}

.try h2 {
    padding: 40px 0 0 0;    
}

.try button {
    padding: 15px;
    width: 100%;
    background: #192592;
    border: solid 1px #192592;   
    color: white;
    border-radius: 5px;
}

.try input {
    padding: 15px 15px;
    width: 100%;
    text-align: left;
    border: solid 1px #babcc4;
    border-radius: 5px;    
}

footer img {
    margin-top: 10px;
    width: 100px;
    height: auto;
}

.subfooter1 {
    justify-content: center;
    padding: 2% 8%;
    text-align: center;
}




.subfooter2 {    
    justify-content: center;
    padding: 2% 8%;
    text-align: center;    
    background-color: #F4F3F4;   
}

.subfooter2 ul {    
    list-style: none;
} 
