/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

header {
    text-align: center;
    margin: 80px 10px 65px 10px;
}

h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
}

h2,
#subtitle {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
    font-weight: 400;
}

main {
    /* Aquí voy a jugar con flex para ordenar las cards    */
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    min-width: 300px;
    max-width: 350px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 32px 32px;
}

.card p {
    font-size: 11px;
}

.card img {
    align-self: flex-end;
}

.wrap-cards {
    display: flex;
    flex-direction: column;
}


/* Versión desktop */

@media only screen and (min-width: 376px) {
    header {
        max-width: 450px;
        margin: 60px 0 10px 0;
    }
    main {
        flex-direction: row;
        align-items: center;
    }
}